.start{
    background-color: white !important;
   color: black !important;
 
}
.teststart{
    background-color: aliceblue !important;
    height: 100vh !important;
}
.signup{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-size: 100% 100%; */
    background-repeat: no-repeat;
    /* background-image: url("../../../public/images/Landing.jpg") !important; */

}
.signupbody{
    display: flex;
    flex-direction: column;
    background-color: #E0E0E0;
    color: black;
    height: 900px;
    width: 50%;
    padding: 70px;
    gap: 10px;
    /* opacity: 0.1; */
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    
   
    justify-content: center;

}
.leftsignupbody{
    width: 50%;
    background: url("../../../public/images/peakp.jpg");
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
.mainsignupbody{
    width:70%;
    display: flex;
    border-radius: 50px;
    box-shadow: 20px 20px 60px #00000041,inset -20px -20px 60px #ffffff40 ;
    
}
.headingS{
    font-size: 30px;
    font-family: "Inter";
    font-weight: 800;
    

}
.labelS{
    font-size: 20px;

}
.labelI{
    width: 50%;
    border-radius: 10px;
    padding: 5px;
    height: 45px;
}
.btnS{
    background-color: rgb(9, 115, 236);
    width: 20%;
    position: relative;
    left: 10px;
    height: 45px;
    width: 150px;
    border-radius: 30px;
}
.visitL{
    color: rgb(108, 108, 247);
    padding: 10px;

}